.footer {
    height: 40px;
    width: 100%;
    background-color: #007cc3;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: aliceblue;
    font-weight: 500;
}