.collectionFrame {
    /* position: relative; */
    height: auto;
    width: auto;
    border: 1px solid rgba(73, 125, 223, 0.719);
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 2px #cececed2;
    padding: 5px;
}


.customerTrackerBox {
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.customerTrackerBox p {
    line-height: 5pt;
}

.labelStyle {
    color : rgba(138, 139, 139, 0.932);
    font-weight: 450;
    font-size: small;
}

.dataStyle {
    color: rgba(64, 89, 136, 0.808);
    font-weight: 550;
}

.divider {
    margin: 20px;
    border-left: 2px solid rgba(73, 125, 223, 0.719);
}