.notFound {
    display: block;
    text-align: center;
    margin: 50px auto;
}

.notFound h2 {
    margin: 20px auto;
    font-size: 100px;
    font-weight: bolder;
    color : #007cc3;
}

.notFoundMessage {
    color: #007cc3;
    font-weight: bold;
}

.btnColor {
    background-color: #007cc3;
    color: azure;
    font-weight: 500;
}

.redirectMessage {
    font-weight: 500;
    color: rgba(110, 110, 110, 0.637);
}

.notFoundImage {
    width: 200px;
    height: 200px;
}