<div *ngIf="loading" class="row rowStyle">
  <div class="pageLoadSpinner">
    <app-spinner></app-spinner>
  </div>
</div>

<ngb-alert *ngIf="errorMessage.length > 0" [dismissible]="false" type="danger" class="errorMessage">{{errorMessage}}</ngb-alert>


<div class="form-group">
<label for="number">Select number of items</label>
<select number="number" [(ngModel)]="numberSelected" (ngModelChange)='onNumberSelected($event)' class="form-control">
  <option *ngFor="let numberItem of numberItems" [ngValue]="numberItem">
    {{numberItem.number}}
  </option>
</select>
</div>

<div *ngIf="emptyList; then emptyListBlock else listBlock"></div>

<ng-template #listBlock>
  <div class="listFrame">
    <app-collection-item *ngFor="let collection of collections | paginate:{id:'some_id', itemsPerPage: items, currentPage: page} " [collection]="collection"></app-collection-item>
  </div>

  <div class ="pagination">
  <pagination-controls id="some_id"
                       (pageChange)="page= $event"
                       (pageBoundsCorrection)="pageChanged($event)"
                       directionLinks="true"
                       autoHide="true"
                       responsive="true"
                       previousLabel="Previous"
                       nextLabel="Next"
                       screenReaderPaginationLabel="Pagination"
                       screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page">
  </pagination-controls>
  </div>
</ng-template>

<ng-template #emptyListBlock>
  <div class="emptyListAlert">
    <div class="alert alert-warning warnAlert" role="alert">
      Collection list is empty.
    </div>
  </div>
</ng-template>
